{{奇物
|名称=${ name }

<%- if tourn_miracle is not none %>
|稀有度=${ tourn_miracle.category }<!-- 例：1星、2星、3星、加权奇物、负面奇物，模拟宇宙留空 -->
<%- endif %>
|类型=<!-- 例：星神火漆、球形代码、咕咕钟，其他则留空 -->
|模式=${ modes | join("、") }<!-- 模拟宇宙、差分宇宙 -->

<%- if rogue_modes | length != 0 %>
|模拟宇宙=${ rogue_modes | join("、") }<!-- 模拟宇宙、寰宇蝗灾、黄金与机械、不可知域 -->
<%- endif %>

<%- if tourn_modes | length != 0 %>
|差分宇宙=${ tourn_modes | join("、") }<!-- 人间喜剧、千面英雄 -->
<%- endif %>

<%- if rogue_miracle is not none %>
|模拟宇宙效果=${ rogue_miracle.desc | gszformat(rogue_miracle.desc_param_list) }
<%- endif %>

<%- if tourn_miracle is not none %>
|差分宇宙效果=${ tourn_miracle.desc | gszformat(tourn_miracle.desc_param_list) }
<%- endif %>
|介绍=
  <%- if rogue_miracle is not none -%>
    ${ rogue_miracle.bg_desc | gszformat }
  <%- else -%>
    ${ tourn_miracle.bg_desc | gszformat }
  <%- endif %>
|TAG=<!-- 按奇物图鉴筛选项写，多个间顿号分隔 -->
|获取方式=<!-- 开局获取、特定事件、一般事件、商店购买，多个间顿号分隔 -->
|获取途径=<!-- 简单介绍获取途径，顿号分隔，不涉及特定事件的可以留空 -->
|相关事件=
|实装版本=
}}
