{{角色图鉴
|名称=${ avatar.name | gszformat }
|本体名=<!-- 目前只硬编码了三月七和开拓者，用来处理 SP 角色的角色故事 -->
|外文名=${ avatar.english_name }
|全名=
|称号=
|阵营=<% if change_camp is not none %>${ change_camp.name }<% elif camp is not none %>${ camp.name }<% endif %>
<%- if change_camp is not none %>
|初始阵营=${ camp.name }
<%- endif %>
|性别=<% if avatar.is_male %>男<% else %>女<% endif %>
|稀有度=${ avatar.rarity }星
|限定=<% if avatar.rarity == 4 %>否<% endif %>
|命途=${ avatar.base_type }
|元素属性=${ avatar.damage_type }
|命途材料=${ path_material_name }
|晋阶属性材料=${ loot_material_name }
|晋阶系列材料=${ promotion_material_name }
|周本材料=${ weekly_material_name }
|TAG=
|星魂TAG=
|角色定位=
|实装日期=
|实装版本=
|昵称/外号=
|派系=
|体型=${ avatar.body_size or "成男" }
|种族=
|职业=
|短信签名=<% if contacts is not none %>${ contacts.signature | gszformat }<% endif %>
|中文CV=${ atlas.cv_cn }
|日文CV=${ atlas.cv_jp }
|韩文CV=${ atlas.cv_kr }
|英文CV=<% if atlas.cv_en is not none %>${ atlas.cv_en }<% endif %>
|介绍=<% if item.bg_desc != avatar.story(1) %>${ item.bg_desc | gszformat }<% endif %>
|卷首语=<!-- 目前只知道在这里找 https://sr.mihoyo.com/?nav=character -->
|角色详情=${ avatar.story_final(0) | gszformat }
|角色故事1=${ stories[0] | gszformat }
|角色故事2=${ stories[1] | gszformat }
|角色故事3=${ stories[2] | gszformat }
|角色故事4=${ stories[3] | gszformat }
<%- if stories != stories_final %>
|角色故事解锁条件=
|角色故事1改=${ stories_final[0] | gszformat }
|角色故事2改=${ stories_final[1] | gszformat }
|角色故事3改=${ stories_final[2] | gszformat }
|角色故事4改=${ stories_final[3] | gszformat }
<%- endif %>
|速度=${ promotions[0].speed_base }
|能量上限=${ skill_need | gszformat(avatar.sp_need, avatar.sp_need, avatar.sp_need, avatar.sp_need) }
|80生命值=${ avatar.hp(80) | round(2) | int }
|80攻击力=${ avatar.attack(80) | round(2) | int }
|80防御力=${ avatar.defence(80) | round(2) | int }
}}
{{角色/技能
<%- for k in range(6) %>
|星魂${loop.index}=${ ranks[k].name }
|星魂${loop.index}描述=${ ranks[k].desc | gszformat(ranks[k].param) }
<%- endfor %>
|命途=${ avatar.base_type }
|命途材料=${ path_material_name }
|普攻效果加成=${ normal_skill_rated | join("、") }
|普攻=
<%- for zero_skill, full_skill in normal_skill_tree[0].skills() | zip(normal_skill_tree[-1].skills()) %>
  {{行迹/技能
  |类型=${ zero_skill.type_desc }-${ loop.index }
  |名称=${ zero_skill.name }
  |TAG=${ zero_skill.tag }
  |能量=<% if zero_skill.sp_base or 0 != 0 %>${ zero_skill.sp_base }<% endif %>
  |战技点=<% if zero_skill.bp_add != 0 %>${ zero_skill.bp_add }<% endif %>
  |削韧值=<% if zero_skill.stance_damage_display or 0 != 0 %>${ zero_skill.stance_damage_display }<% endif %>
  |描述=${ zero_skill.desc | default("", true) | gszformat(zero_skill.param_list | zip(full_skill.param_list) | list) }
  }}
<%- endfor %>
|战技效果加成=${ bp_skill_rated | join("、") }
|战技=
<%- for zero_skill, full_skill in bp_skill_tree[0].skills() | zip(bp_skill_tree[-1].skills()) %>
  {{行迹/技能
  |类型=${ zero_skill.type_desc }-${ loop.index }
  |名称=${ zero_skill.name }
  |TAG=${ zero_skill.tag }
  |能量=<% if zero_skill.sp_base or 0 != 0 %>${ zero_skill.sp_base }<% endif %>
  |战技点=<% if zero_skill.bp_add != 0 %>${ zero_skill.bp_add }<% endif %>
  |削韧值=<% if zero_skill.stance_damage_display or 0 != 0 %>${ zero_skill.stance_damage_display }<% endif %>
  |描述=${ zero_skill.desc | default("", true) | gszformat(zero_skill.param_list | zip(full_skill.param_list) | list) }
  }}
<%- endfor %>
|终结技效果加成=${ ultra_skill_rated | join("、") }
|终结技=
<%- for zero_skill, full_skill in ultra_skill_tree[0].skills() | zip(ultra_skill_tree[-1].skills()) %>
  {{行迹/技能
  |类型=${ zero_skill.type_desc }-${ loop.index }
  |名称=${ zero_skill.name }
  |TAG=${ zero_skill.tag }
  |能量=<% if zero_skill.sp_base or 0 != 0 %>${ zero_skill.sp_base }<% endif %>
  |战技点=<% if zero_skill.bp_add != 0 %>${ zero_skill.bp_add }<% endif %>
  |削韧值=<% if zero_skill.stance_damage_display or 0 != 0 %>${ zero_skill.stance_damage_display }<% endif %>
  |描述=${ zero_skill.desc | default("", true) | gszformat(zero_skill.param_list | zip(full_skill.param_list) | list) }
  }}
<%- endfor %>
|天赋效果加成=${ passive_skill_rated | join("、") }
|天赋=
<%- for zero_skill, full_skill in passive_skill_tree[0].skills() | zip(passive_skill_tree[-1].skills()) %>
  {{行迹/技能
  |类型=${ zero_skill.type_desc }-${ loop.index }
  |名称=${ zero_skill.name }
  |TAG=${ zero_skill.tag }
  |战技点=<% if zero_skill.bp_add != 0 %>${ zero_skill.bp_add }<% endif %>
  |削韧值=<% if zero_skill.stance_damage_display or 0 != 0 %>${ zero_skill.stance_damage_display }<% endif %>
  |描述=${ zero_skill.desc | default("", true) | gszformat(zero_skill.param_list | zip(full_skill.param_list) | list) }
  }}
<%- endfor %>
|秘技=
<%- for zero_skill, full_skill in maze_skill_tree[0].skills() | zip(maze_skill_tree[-1].skills()) %>
  {{行迹/技能
  |类型=${ zero_skill.type_desc }-${ loop.index }
  |名称=${ zero_skill.name }
  |TAG=${ zero_skill.tag }
  |战技点=<% if zero_skill.bp_add != 0 %>${ zero_skill.bp_add }<% endif %>
  |削韧值=<% if zero_skill.stance_damage_display or 0 != 0 %>${ zero_skill.stance_damage_display }<% endif %>
  |描述=${ zero_skill.desc | default("", true) | gszformat(zero_skill.param_list | zip(full_skill.param_list) | list) }
  }}
<%- endfor %>
<%- for k in range(3) %>
|额外能力${loop.index}=${ bonus_abilities[k].name }
|额外能力${loop.index}描述=${ bonus_abilities[k].desc | gszformat(bonus_abilities[k].param_list) }
<%- endfor %>
<%- for k in range(10) %>
  <%- set status_add = stat_bonuses[k].status_add_list()[0] %>
|属性加成${loop.index}=${ status_add[0] }
|属性加成${loop.index}数值=${ status_add[0].wiki_value(status_add[1]) }
<%- endfor %>
}}
{{WIKI底部导航|角色图鉴=展开}}
